.container {
  display: grid;
  place-items: center;
}

.inner {
  display: flex;
  width: 100%;
  max-width: 1225px;
}

.main {
  flex: 1;
  display: flex;
  column-gap: 1.75rem;
}

.timeline {
  flex: 1;
  max-width: 600px;
  border-style: solid;
  border-color: var(--colors-border);
  border-left-width: 1px;
  border-right-width: 1px;
}

.tweetComposerWrap {
  border-color: var(--colors-border);
  border-bottom-width: 1px;
}

.sidebar {
  width: 350px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.searchBarWrap {
  position: sticky;
  top: 0;
  padding: 0.25rem 0;
  background-color: var(--colors-bg);
}
