.container {
  background-color: var(--colors-primary);
  border-radius: var(--round-full);
  display: grid;
  place-items: center;
  font-weight: var(--font-weight-bold);
  flex: 1;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--colors-primary-dim);
  }
}
