@import "../styles/mixins.scss";

.container {
  background-color: var(--colors-section);
  border-radius: var(--round-lg);
  overflow: hidden;
}

.title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  padding: 0.75rem 1rem;
}

.item {
  @include hover();

  padding: 0.75rem 1rem;
  cursor: pointer;

  &__location {
    color: var(--colors-text-dim);
    font-size: 0.8rem;
  }

  &__title {
    font-weight: var(--font-weight-bold);
  }

  &__numOfTweets {
    color: var(--colors-text-dim);
    font-size: 0.8rem;
  }
}
