.container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  padding: 1rem;
}

.textarea {
  resize: none;
  width: 100%;
  background-color: transparent;
  padding: 0.75rem 0;
  font-size: 1.25rem;

  &:focus {
    outline: none;
  }
}
