@import "../styles/mixins.scss";

.container {
  background-color: var(--colors-section);
  border-radius: var(--round-lg);
  overflow: hidden;
}

.title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  padding: 0.75rem 1rem;
}

.item {
  @include hover();

  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center start;
  column-gap: 0.75rem;
  padding: 0.75rem 1rem;
  cursor: pointer;

  &__userName {
    font-weight: var(--font-weight-bold);
    line-height: 1.25rem;
  }

  &__userId {
    color: var(--colors-text-dim);
    line-height: 1.25rem;
  }
}

.followButton {
  border-radius: var(--round-full);
  background-color: white;
  color: #0f1419;
  font-weight: var(--font-weight-bold);
  font-size: 0.9rem;
  height: 2rem;
  padding: 0 1rem;
}

.showMore {
  @include hover();

  display: block;
  width: 100%;
  height: 100%;
  padding: 0.75rem 1rem;
  color: var(--colors-primary);
}
